@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');
/* font-family: 'Saira Stencil One', cursive; */

/* ============================================================================
 * Style body
 * ========================================================================== */
 body {
    height: 100vh;
    /* width: 100%; */
    margin: 0;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    font-family: sans-serif;
    font-size: 1rem;

    grid-template-rows: 60px max-content max-content auto 20px;
    grid-template-areas: 
    "header"
    "tags"
    "new-search-bar"
    "main"
    "footer";

}

/* ============================================================================
 * Style header
 * ========================================================================== */
 header {
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    font-family: 'Saira Stencil One';
    margin: 0 ;
    color: #0af;
    text-shadow: 0px 0px 30px white;
}



/* ============================================================================
 * Style footer
 * ========================================================================== */
 footer {
    background-color: black;
    color: white;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ============================================================================
 * Style main content area
 * ========================================================================== */
 main {
    background-color: #444;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    width: 100vw;
}

/* ============================================================================
 * Style views (view-handler-hidden tagged by view-handler.js)
 * ========================================================================== */
 .view-handler {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.view-handler-hidden {
    visibility: hidden !important; 
    display: none !important;
    height: 0 !important;
    width: 0 !important;
}

/* ============================================================================
 * Style start section
 * ========================================================================== */
#start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: fit-content;
}

.start-card {
    max-width: fit-content; 
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    box-shadow: 0 0 30px rgba(0,0,0,0.4);
}

.start-card > h1 {
    text-align: center;
    text-shadow: 0 0 2px black;
    border-radius: 20px 20px 0 0;
    background-color: #0af;
    margin: 0;
    padding: 0;
    color: #fff;
}

.start-card > div {
    display: flex;
    flex-direction: column;
    padding: 0 20px 20px 20px;
}

.start-card > div > p {
    font-size: 18px;
}

.start-button {
    border-radius: 99px;
    background-color: #0af;
    border: none;
    color: #fff;
    text-shadow: 0 0 2px black;
    font-size: 25px;
    padding: 5px 0;
    cursor: pointer;
}

.start-input {
    border-radius: 99px;
    border: 2px solid #0af;
    font-size: 16px;
    padding: 5px 20px;
    margin-bottom: 5px;
}

/* ============================================================================
 * Style tag bar
 * ========================================================================== */
 #tag-bar {
    background-color: #666;
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 0px;
    padding: 0 8px 0 8px;
    break-inside: avoid;
}

.tag {
    background-color: #0af;
    color: #000;
    text-shadow: 0px 0px 3px white;
    margin: 8px 0 8px 0;
    border-radius: 99px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
}

.tag.disabled {
    background-color: #aaa;
    color: #444;
}

/* ============================================================================
 * Style "New search!" bar
 * ========================================================================== */
 #new-search-bar {
    background-color: #0af;
    color: #fff;
    font-size: 40px;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}

/* ============================================================================
 * Style spinner content
 * ========================================================================== */
#spinner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
}

/* ============================================================================
 * Style thumbs
 * ========================================================================== */
 #thumbs {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    height: fit-content;
}

/* Scale thumb layout from < 400px to > 1950px */
@media screen and (min-width: 300px) {#thumbs {grid-template-columns: repeat(2, 1fr)}}
@media screen and (min-width: 450px) {#thumbs {grid-template-columns: repeat(3, 1fr)}}
@media screen and (min-width: 600px) {#thumbs {grid-template-columns: repeat(4, 1fr)}}
@media screen and (min-width: 750px) {#thumbs {grid-template-columns: repeat(5, 1fr)}}
@media screen and (min-width: 900px) {#thumbs {grid-template-columns: repeat(6, 1fr)}}
@media screen and (min-width: 1050px) {#thumbs {grid-template-columns: repeat(7, 1fr)}}
@media screen and (min-width: 1200px) {#thumbs {grid-template-columns: repeat(8, 1fr)}}
@media screen and (min-width: 1350px) {#thumbs {grid-template-columns: repeat(9, 1fr)}}
@media screen and (min-width: 1500px) {#thumbs {grid-template-columns: repeat(10, 1fr)}}
@media screen and (min-width: 1650px) {#thumbs {grid-template-columns: repeat(11, 1fr)}}
@media screen and (min-width: 1800px) {#thumbs {grid-template-columns: repeat(12, 1fr)}}
@media screen and (min-width: 1950px) {#thumbs {grid-template-columns: repeat(13, 1fr)}}

 .thumb {
    background-color: #ccc;
    display: inline;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    cursor: pointer;
    background-size: 100%;
 }

 .thumb:after {
    content: "";
    padding-bottom: 100%;
 }

.faded {
    opacity: 20%;
    cursor: wait;
}

img {
    display: inline;
}

.num-tags {
    background-color: #0af;
    text-shadow: 0px 0px 3px white;
    color: #000;
    margin: 3px 3px auto auto;
    border-radius: 99px;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}


/* ============================================================================
 * Thumb "More..." button
 * ========================================================================== */
.more-button {
    background: #0af;
    display: flex;
    color: #fff;
    font-size: 30px;
    justify-content: center;
    align-items: center;
}

/* ============================================================================
 * Style details page
 * ========================================================================== */

#details {
    background-image: url('https://live.staticflickr.com/65535/51586975479_5b243bfb5a.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

