@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');

/* font-family: 'Saira Stencil One', cursive; */
body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    font-family: sans-serif;
    font-size: 1rem;

    grid-template-rows: 60px max-content auto 20px;
    grid-template-areas: 
    "header"
    "tags"
    "main"
    "footer";

}

.logo {
    font-family: 'Saira Stencil One';
    margin: 0 ;
    color: #0af;
    text-shadow: 0px 0px 30px white;
}

header {
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tags {
    background-color: #666;
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 0px;
    padding: 0 8px 0 8px;
    break-inside: avoid;
}

.tag {
    background-color: #0af;
    color: #000;
    margin: 8px 0 8px 0;
    border-radius: 99px;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.tag.reset {
    background-color: #f33;
    color: white;
}

main {
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 8px;
    margin: 0;
    gap: 8px;
    align-content: flex-start;
}

footer {
    background-color: black;
    color: white;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thumb {
    background-color: #ccc;
    display: inline;
    height: 150px;
    width: 150px;
    margin: 0;
    padding: 0;
    display: flex;
    cursor: pointer;
}

.faded {
    opacity: 20%;
    cursor: wait;
}

img {
    display: inline;
}

.num-tags {
    background-color: #0af;
    color: #000;
    margin: 3px 3px auto auto;
    border-radius: 99px;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 20px;
}

@media screen and (max-width: 600px) {
    .thumb {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .main {
        gap: 0px;
        padding: 0px;
    }
}